<div class="tabbed-container">
    <div class="row">
        <div class="col s12">
            <div class="page-title">Welcome</div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="center-align">
                <h1>Welcome to Chow!</h1>
                <h5>We hope you have a wonderful experience using our product.</h5>
            </div>
        </div>
    </div>
</div>