<div class="row">
    <div class="col s12">
        <div class="about-banner red lighten-1 white-text">
            <h2>Chow</h2>
            <div class="divider"></div>
            <p>The restaurant matchmaker</p>
        </div>
    </div>
</div>
<div class="row info-content">
    <div class="col s12">
        <img class="content-image image-left" src="/images/food-1.jpg" alt="">
        <div class="content">
            <div class="content-title">
                Searching enhanced
            </div>
            <div class="content-body">
                With the power of Yelp Fusion Search, we are able to provide you with the quickest way of finding the best restaurant near
                you.
            </div>
        </div>
    </div>
</div>
<div class="row info-content">
    <div class="col s12">
        <img class="content-image image-right" src="/images/food-2.jpg" alt="">
        <div class="content">
            <div class="content-title">
                Only your favorites
            </div>
            <div class="content-body">
                Sometimes it can be difficult to find what you want with so many available choices. We make it easy to find what you love
                so that you can enjoy it even more.
            </div>
        </div>
    </div>
</div>
<div class="row info-content">
    <div class="col s12">
        <img class="content-image image-left" src="/images/food-3.jpg" alt="">
        <div class="content">
            <div class="content-title">
                On the go
            </div>
            <div class="content-body">
                We want it and we want it now! We understand that you are always in a hurry. We can help you find something quick and easy!
            </div>
        </div>
    </div>
</div>