<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="/css/materialize-social.css">
    <link type="text/css" rel="stylesheet" href="/css/style.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <div class="valign-wrapper">
        <div class="valign">
            <div class="row">
                <div class="col s12 m6 offset-m3 l4 offset-l4">
                    <div class="card center-align">
                        <div class="card-title login-card-title white-text">Sign in with Google+</div>
                        <div class="card-content">
                            <i class="large material-icons">person</i>
                            <p>Sign in with your Google Account</p>
                        </div>
                        <div class="card-action">
                            <a class="waves-effect waves-light btn social google" href="/auth/google">
                                <i class="fab fa-google"></i> Sign in with google</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
</body>

</html>